@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #ff9d00;
  outline: 1px solid white;
}

body:has(.open-modal) {
  overflow: hidden;
}
